*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* header navigation bar */

#dokter-nav{
    border-bottom: solid 2px #4472c4;
}

/* end of navigation bar and header */

main{
    background-color: #9dc3e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 66.58px 10%;
}

#titletext{
    margin: 50px 0;
    text-align: center;
    color: #1f4e79;
    cursor: default;
}

.all-dokter-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.dokter-container{
    cursor: default;
    display: flex;
    background-color: #aecad6;
    align-items: center;
    background-image: linear-gradient(360deg, #99e0ff 0%, #b5d1ff 74%);   
    border-radius: 50px;
    padding: 20px 10%;
    scale: 0.95;
    transition: ease-in-out 0.5s;
}


.dokter-container:hover{
    scale: 1;
}

#dokter-pp{
    width: 230px;
    height: 230px;
    border-radius: 50px;
    border: solid 2px #4472c4;
    object-fit: cover;
    object-position: center top;
}

.dokter-about{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    margin-left: 10%;
}

.dokter-about a{
    color: white;
    font-weight: 700;
    font-size: 1.7vw;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
    transition: ease-in-out 0.5s;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.dokter-about a:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.dokter-nameetc{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dokter-nameetc h1{
    font-size: 2.5vw;
}

.dokter-nameetc h3{
    margin-top: 5px;
    font-weight: 100;
}

.dokter-inform{
    display: flex;
    gap: 40px;
    margin: 20px;
    margin-left: 0;
}

.dokter-inform div{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width:710px) {
    .dokter-container{
        flex-direction: column;
    }
    .dokter-about{
        margin: 0;
        align-items: center;
    }
    .dokter-about a{
        font-size: 15px;
    }
    .dokter-nameetc h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .dokter-inform{
        margin: 0;
        margin-bottom: 20px;
    }
    
}
/* footer */
footer{
    text-align: center;
    padding: 20px;
    cursor: default;
}